{% extends 'default.html' %}

{% load custom_filters %}

{% block content %}

<!-- Теперь можем обращаться к моделям -->
<div>
<h3>Author: {{ post_detail.author }}</h3>
<p>Title: {{ post_detail.title|censor }}</p>
<p>date: {{ post_detail.dateCreation}}</p>
<p>{{ post_detail.body|censor }}</p>

</div>

<div>
    <p><a href="{% url 'post_update_view' post_detail.id %}" style="text-align: right;"><u>Edit Post</u></a></p>
<p><a href="{% url 'post_delete_view' post_detail.id %}" style="text-align: right;"><u> Delete post </u></a></p>
</div>


{% endblock %}