{% extends 'default.html' %}
{% load custom_filters %}

{% block title %} Deleting the Post {% endblock title %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-lg-8 col-xl-10 mx-auto"><br>

            <h2 align="center" style="color:#FF4500">Are you sure to delete the post??</h2> <br>
            <hr>
            <hr>


            <div>
                <p class="post-title"> Title: {{ post.title|censor }} </p>
                <p style="text-align: justify;">Text: {{ post.body }}</p>
                <p class="post-meta"><strong></strong>Post by
                    <strong>{{ post.author }}</strong>
                    Date of Publication: {{ post.dateCreate|date:'d M Y h:m' }}</p>
            </div>

            <br>
            <form method="POST">
                {% csrf_token %}
                <p> {{ body }}</p>
                <input class=" btn btn-danger mx-auto" type="submit" value="Confirm">
            </form>
        </div>
    </div>
</div>
{% endblock content %}