{% extends 'base.html' %}

{% block content %}
  <div class="row">
    <div class="col-3">
      <h3>Users</h3>
      <div class="list-group" id="users-list">
      </div>
    </div>
    <div class="col-9">
      <div class="card">
        <div class="card-header">
          <h3>Chat Room</h3>
        </div>
        <div class="card-body" id="messages">
          <div class="alert alert-info">
            Select a user to start chatting!
          </div>
        </div>
        <div class="card-footer">
          <form id="message-form">
            <div class="form-group">
              <textarea class="form-control" name="message" placeholder="Type your message..."></textarea>
            </div>
            <button type="submit" class="btn btn-primary">Send</button>
          </form>
        </div>
      </div>
    </div>
  </div>
{% endblock %}

{% block scripts %}
  {{ block.super }}
  <script src="{% static 'js/chat.js' %}"></script>
{% endblock %}
