{% extends 'default.html' %}

{% block content %}
<h1>{{title}}</h1>

<head>
    <h2> Please,  LogIn  Here </h2>
</head>
<table>
<tr>
<form method="post" action="{% url 'login' %}">
    {% csrf_token %}
    <table>
        <tr>
{% for f in form %}
<p><label class="form-label" for="{{ f.id_for_label }}">{{f.label}}: </label>{{ f }}</p>
<div class="form-error">{{ f.errors }}</div>
{% endfor %}
  <!--    <td><p><label class="form-label"> {{ form.as_p }} </label></p></td>-->

        <div class="form-error">{{ form.non_field_errors }}</div>


        </tr>
    </table>
    <button type="submit"><a href="{% url 'profile' %}"></a> LogIn Here </a></button> or <button><a href="{% url 'register' %}"> Register on This Site </a></button>
</form>

{% endblock %}
