{% extends "default.html" %}

{% block content %}
<h2> {{ user }} - You are successfully logout This Site </h2>


<form method="post" action="{% url 'login' %}">
    {% csrf_token %}
    <table>
        <tr>
    <td><p><label class="form-label"> {{ form.as_p }} </label></p></td>

        <div class="form-error">{{ form.non_field_errors }}</div>

<!--{% for f in form %}-->
<!--<p><label class="form-label" for="{{ f.id_for_label }}">{{f.label}}: </label>{{ f }}</p>-->
<!--<div class="form-error">{{ f.errors }}</div>-->
<!--{% endfor %}-->
        </tr>
    </table>
    <button><a href="{% url 'login' %}"></a> LogIn Here Again</a></button> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;OR
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<button><a href="{% url 'register' %}"> Register as Other User </a></button>
</form>
<!--<button><a class="submit" href="{% url 'login' %}"></a></button>-->
{% endblock %}