{% extends 'default.html' %}

<html>
    <head>
<!--<h2>Registered  User Page: {{request.user.username}}</h2>-->
<!--<div> Personal Users Info </div>-->

        <title>
            Simple SignUp/SignIn app
        </title>
    </head>
    <body>

            <h3><a href="/">Simple SignUp/SignIn app</a></h3>

<!--            <div><h4 margin="left: 20"> Personal Users Info </h4></div>-->

{% block content %}
            <h2>Authorized User's Page:  {{request.user.username}}</h2>
<!--            <div><h2 margin="center"> Personal data: {{request.user.username}}  </h2></div>-->
            <div><h3><i> Personal data: will plaice here....  </i></h3></div>
<br>
    <div>
        <button><a class="submit" href="{% url 'post_list' %}">Go to Site</a></button>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <button><a class="submit"  href="{% url 'logout' %}">LogOut</a></button></div>
            <!--<button> <a href="sign/logout/">LogOut</a> </button>-->
{% if is_not_premium %}
        <button> <a href="newapp/upgrade/"> Хочу Premium!</a> </button>
{% endif %}
{% endblock %}
        </body>
</html>