{% extends 'default.html' %}



{% block content %}
<h1>{{title}}</h1>
<head>
    <h3> Please,  Register  Here </h3>
</head>


<form method="POST">
    {% csrf_token %}
<!--    {{ form.as_p }}-->
{% for f in form %}

    <p><label class="form-label" for="{{ f.id_for_label }}"> {{f.label}}: </label>{{ f }}</p>

<div class="form-error">{{ f.errors }}</div>
{% endfor %}

    <button type="submit"><a href="{% url 'profile' %}">Register on Site</a></button>
</form>

{% endblock %}
