{% extends 'default.html' %}
{% load custom_filters %}

{% block title %} SEARCH {% endblock title %}

{% block content %}

<div>
    <h1>SEARCH</h1>
    <h4>{{ time_now|date:'d M Y' }}</h4>
    <p class="lead">Posts per page: {{ search_list|length }}</p>
    <!-- Перед таблицей добавим форму для поиска -->
    <form method="GET">
        {{ filter.form.as_p }}
        <!-- Форму от фильтров создает django. Кнопку, делаем сами -->
        <input type="submit" value="Search">
    </form>
</div>

<div>
    {% for posts in filter.qs %}
    <q><strong>AUTHOR: </strong>{{ posts.author }} / {{ posts.dateCreation|date:'d M Y, H:m' }} / {{ posts.categoryThought }} </q>
    <p><a href="{{ posts.get_absolute_url }}">{{ posts.title|truncatechars:20|censor }}</a></p>
    <p>{{ posts.preview|truncatechars:30|censor }}</p>
    {% endfor %}
</div>


{% endblock content %}