/* медиа-запросы */
@media (max-width: 768px) {
    /* стили для мобильных устройств */
    .header-left {
        text-align: center;
    }

    .header-right {
        margin-top: 20px;
    }

    .section-title {
        margin-top: 30px;
    }

    .skill-bar-fill {
        height: 10px;
    }
}

@media (max-width: 480px) {
    /* стили для экранов с небольшим разрешением */
    .header-left h1 {
        font-size: 28px;
    }

    .header-left h2 {
        font-size: 18px;
    }

    .skill-bar-fill {
        height: 5px;
    }
}