{% extends 'msitex/base.html' %}

<!DOCTYPE html>
<html lang="en">
<head>
{% block content %}
    <meta charset="UTF-8">
    <title>Contact me</title>
</head>
<body>

<img class="img-article-center thumb" src="/media/me1.jpg" width="150px"> <br>
<br>
<p><h2>Please, contact me:</h2><br>
<h3><li>Via cellphone:<ul>+7 919 991-74-57</ul></li></p>
</h3></li>
OR
<br>
    <p><h3>
            <li>Find me in a messangers:</li></h3>
                <p><h4>(WhatsUp, Telegram, Viber) via my phone num</h4></p>

    </p>
{% endblock %}

</body>
</html>