{% extends 'msitex/base.html' %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title><h2>My Favorite Hobby</h2></title>
</head>
<title><h2>My Favorite Hobby</h2></title>
<body>
{% block content %}

<img class="img-article-top thumb" src="/media/me3.jpg" width="300px"> <br>

<p>

I love skiing and discovering new, interesting places.<br>
It is very joyful to go down quickly, breathing clean air <br>
and enjoy the beauty of the mountains.<br>
I also like to read books, watch sci-fi series and films.<br>
</p>
{% endblock%}
</body>
</html>